@model SecretSanta.Models.Event.AttendeesModel
@{
    ViewData["Title"] = "Index";
}

<h2>@Model.EventName Attendees</h2>

<ul>
    @for (int i = 0; i < Model.RegisteredNames.Count; i++) {
        string name = Model.RegisteredNames[i];

        <li style="font-size:larger">
            @name
        </li>
    }
</ul>

<a asp-action="GoToEventUserPage" asp-route-eventId="@Model.EventId">Back to event</a>