@model SecretSanta.Models.JoinEventModel
@{
    ViewData["Title"] = "Join Event";
}

<h2>Join Event</h2>

<p>Enter an event ID you've obtained from the event owner to join the event.</p>
<p>By joining this event, you are agreeing that others can get you as their secret match.</p>
<p>If you do not want to be included in this event, do not register.</p>
<form asp-action="ConnectWithEvent">
    <label asp-for="SharedEventGuid">Shared Event ID</label>
    <input asp-for="SharedEventGuid" />
    <input type="submit" value="Enter" />
</form>