@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>

<p>You can use the menu above to create a match for the Secret Santa gift exchange.</p>
<p>The gift exchange will take place on (some date and time) at (unspecified location).</p>
