@{
    ViewData["Title"] = "InvalidCredentials";
}

<h2>Invalid Credentials</h2>

@Html.ActionLink("Return to Sign In", "SignIn", "Match")

@*<div>
    <a asp-action="Index">Back to List</a>
</div>*@
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}