@{
    ViewData["Title"] = "Invalid Credentials";
}

<h2>Invalid Credentials or Session has timed out.</h2>

@Html.ActionLink("Return to Sign In", "SignIn", "Match")

@*<div>
    <a asp-action="Index">Back to List</a>
</div>*@
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}