@model SecretSanta.Models.RegisterUser

@{
    ViewData["Title"] = "Register";
}

<h2>Register for Secret Santa</h2>
<p>By registering, you are agreeing that others can get you as their secret match.</p>
<p>If you do not want to be included in the Secret Santa gift exchange, do not register.</p>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Register">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                @Html.DropDownListFor(m => m.NameToRegister, new SelectList(Model.PossibleNames, "RegisteredName", "RegisteredName"))
            </div>
            <div class="form-group">
                <label asp-for="ChosenPassword">Password:</label>
                <input asp-for="ChosenPassword" />
            </div>
            <div class="form-group">
                <input type="submit" value="Register" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

@*<div>
    <a asp-action="Index">Back to List</a>
</div>*@

