@model SecretSanta.Models.AuthenticatedUser

@{
    ViewData["Title"] = "Sign In";
}
<h2>Sign In</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="SignIn">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Username"></label>
                <input asp-for="Username" />
            </div>
            <div class="form-group">
                <label asp-for="Password"></label>
                <input asp-for="Password" />
            </div>
            <div class="form-group">
                <input type="submit" value="Sign In" class="btn btn-default" />
            </div>
        </form>
        <br />
        <label>Not yet registered?</label>
        <a asp-action="Register">Register</a>
    </div>
</div>
<br />
@*Not sure if this is for anything in particular. The list of everyone registered?
    <div>
    <a asp-action="Index">Back to List</a>
</div>*@ 
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
